details.details {
  display: none;
  margin-bottom: var(--default-padding-4x);
}
.details {
  background: var(--md-blue-grey-50);
  border-radius: 5px;
  padding: var(--default-padding-4x);
}
.details .trylinks {
  position: absolute;
  right: 0;
}
.details .trylinks a {
  margin-left: var(--default-padding-2x);
  text-transform: uppercase;
  font-size: 18px;
  border-radius: var(--default-border-radius);
  padding: var(--default-padding) var(--default-padding-2x);
  background: white;
  text-decoration: none;
}
.details .trylinks .try-button {
  /* border-bottom: 4px solid transparent; */
  --disable-color: var(--md-blue-grey-100);
  --enable-color: var(--md-blue-grey-500);
}
.details .trylinks .try-button:hover {
  border-bottom: 4px solid var(--enable-color) !important;
}
.details .trylinks a[active] {
  border-bottom: 4px solid var(--enable-color);
  font-weight: 600;
}
.details .trylinks a:not([active]) {
  border-bottom: 4px solid var(--disable-color);
}
.details summary {
  position: relative;
  color: var(--title-color);
  font-size: var(--default-padding-3x);
}
.details  ul {
  list-style: none;
  padding: 0;
  margin: var(--default-padding-3x) 0 0 0;
}
.details li {
  display: flex;
  margin-bottom: 8px;
  flex: 0 0 auto;
}
.details .policyname {
  font-weight: 600;
}
.details .menu-button {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.details-info label {
  flex: 0 0 150px;
  display: inline-block;
  font-weight: 600;
}
.details-info pre {
  margin: 0 0 var(--default-padding) 0;
  white-space: pre-wrap;
}
.details-info pre:last-child {
  margin-bottom: 0;
}
.details .flag-icon {
  opacity: 1;
}
@media only screen and (max-width: 450px) {
  .details {
    padding: var(--default-padding) var(--default-padding-2x);
  }
  .details .trylinks {
    position: relative;
    margin: var(--default-padding) 0;
    display: block;
  }
  .details .trylinks a {
    margin: 0 var(--default-padding) 0 0;
  }
  .details li {
    display: block;
  }
  .details li label {
    margin-right: var(--default-padding);
  }
  .details .menu-button {
    display: block;
  }
}
