:root {
  --app-drawer-width: 305px;
  --app-primary-color: #E91E63;
  --app-secondary-color: #293237;
  --app-dark-text-color: var(--app-secondary-color);
  --app-light-text-color: white;
  --app-section-even-color: #f7f7f7;
  --app-section-odd-color: white;
  --app-header-background-color: white;
  --app-header-text-color: var(--app-dark-text-color);
  --app-header-selected-color: var(--app-primary-color);
  --app-drawer-background-color: var(--app-secondary-color);
  --app-drawer-text-color: var(--app-light-text-color);
  --app-drawer-selected-color: #78909C;

  --title-color: var(--md-blue-grey-900);
  --md-blue-grey-50: #ECEFF1;
  --md-blue-grey-100: #CFD8DC;
  --md-blue-grey-200: #B0BEC5;
  --md-blue-grey-300: #90A4AE;
  --md-blue-grey-400: #78909C;
  --md-blue-grey-500: #607D8B;
  --md-blue-grey-700: #455A64;
  --md-blue-grey-900: #263238;
  --md-green-500: #4caf50;
  --md-red-500: #f44336;
  --md-blue-700: #0288d1;
  --md-blue-800: #1565c0;
  --default-padding: 8px;
  --default-padding-2x: 16px;
  --default-padding-3x: 24px;
  --default-padding-4x: 32px;

  --default-border-radius: 3px;
}
* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: "Google Sans", "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-weight: 300;
  color: var(--md-blue-grey-700);
  overflow-x: hidden;
}
a {
  color: inherit;
}
h1, h2, h3, h4 {
  margin: 0;
  font-weight: inherit;
}
.layout {
  display: flex;
}
.layout.center {
  justify-content: center;
}
.layout.center-center {
  justify-content: center;
  align-items: center;
}
.layout.vertical {
  flex-direction: column;
}
.layout.wrap {
  flex-wrap: wrap;
}
.flex {
  flex: 1 0 auto;
}
.relative {
  position: relative;
}
.body-padding {
  margin: var(--default-padding-4x);
}
#feature-allowed-banner {
  padding: var(--default-padding);
  margin-bottom: var(--default-padding-2x);
  color: #fff;
  background-color: var(--md-blue-800);
  text-align: center;
  visibility: hidden;
  border-radius: var(--default-border-radius);
}
#feature-allowed-banner.show {
  visibility: visible;
}
.label {
  font-weight: 600;
}
.drawer-list {
  color: var(--app-drawer-text-color);
  position: fixed;
  width: var(--app-drawer-width);
  height: 100%;
  padding: var(--default-padding-4x);
  background: var(--app-drawer-background-color);
  line-height: 40px;
  overflow-y: auto;
  overscroll-behavior: contain;
  transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2;
}
.drawer-list.active {
  transform: none;
}
.drawer-list header {
  line-height: 1;
  display: flex;
  flex: 0 0 auto;
  margin-bottom: var(--default-padding-3x);
}
.drawer-list img {
  margin-right: var(--default-padding-2x);
}
.drawer-list .drawer-title {
  font-size: 20px;
}
.drawer-list .drawer-subtitle {
  font-size: 37px;
  text-indent: -2px;
  margin-top: 4px;
  text-transform: uppercase;
}
.drawer-list header img {
  width: 56px;
  height: 56px;
}
.drawer-list a {
  text-decoration: none;
}
.drawer-list .flag-icon {
  display: inline-block;
}
.drawer-list .flag-icon.supported {
  display: none;
}
.main-view {
  padding-left: var(--app-drawer-width);
  height: 100vh;
  overflow-y: hidden;
}
.main-view iframe {
  width: 100%;
  height: 100vh;
  border: none;
  padding-bottom: 350px;
}
.policy-name {
  display: block;
  padding-left: var(--default-padding-2x);
}
.policy-id {
  white-space: nowrap;
  color: var(--md-blue-grey-400);
}
.policy-type {
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: 600;
}
.policy-type {
  margin-top: var(--default-padding);
}
#policy-list .policy-type:first-of-type {
  margin-top: 0;
}
footer {
  z-index: 1;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: var(--default-padding-2x);
  background-color: var(--md-blue-grey-50);
  padding-left: var(--app-drawer-width);
}
footer a {
  line-height: 1;
  opacity: 0.8;
}
footer a:hover {
  opacity: 1;
}
footer .logo {
  height: 25px;
  width: auto;
}
pre.snippet {
  padding: var(--default-padding-2x);
  background: var(--md-blue-grey-400);
  color: #fff;
  font-family: "Courier New";
  font-weight: 600;
  font-size: 14px;
  border-radius: var(--default-border-radius);
}
.flag-icon {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  margin-right: 3px;
  opacity: 0.25;
}
@media only screen and (max-width: 450px) {
  #intro-summary {
    font-size: 11px;
  }
  .drawer-list {
    transform: translate3d(-100%,0,0);
  }
  .main-view {
    padding-left: 0;
  }
  .body-padding {
    margin: var(--default-padding-2x);
  }
  footer {
    padding-left: var(--default-padding-2x);
  }
}